@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: rgb(61, 61, 61);
    height: 100vh;
}


img.icono {
    width: 1.7rem;
    height: auto;
    margin-right: 10px;    
}

img.grande {
    width: 2rem;
    height: auto;
    margin-right: 10px;      
}

.avatar.mini{
    width: 3rem;
    height: auto;
}

.avatar.grande{
    width: 5rem;
    height: auto;
}

p.usuario.mini{
    width: 2rem;
    font-weight: bold;
}

.tituloMenu{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
}

h1{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
}

h2{
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px;
}

h3{
    font-size: 1rem;
    font-weight: 600;
}

ul{
    padding: 15px;
    font-size: 1rem;
}

li{
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: bold;
}

li > p{
    padding-top: 3px;
}

li:hover{
    font-size: 1.1em;
    filter: drop-shadow(2px 2px darkslategray);
}

li:active{
    filter: drop-shadow(1px 1px lightblue);
}

.contenedor{
    position: relative;
    display: grid;
    position: relative;
    margin: -8px;
    min-height: 1000px;
    grid-template-columns: 1.5fr 7fr;
    grid-template-rows: 200px 5fr;
    grid-template-areas: 
       "menu header"
       "menu contenido";
}

.menu{
    position: sticky;
    top: 0px;
    z-index: 3;
    grid-area: menu;
    height: 100vh;
    width: stretch;
    background-image: linear-gradient(200deg, darkcyan, darkcyan, cyan);
    color: white;
    min-width: 200px;
    box-shadow: 3px 0px 3px rgba(11, 113, 137, 0.3);
}

.header{
    position: sticky;
    top: 0px;
    z-index: 2;
    grid-area: header;
    background-color: white;
    box-shadow: 0 10px 10px rgba(11, 113, 137, 0.3);
    width: auto;
    min-width: 800px;
    padding: 10px 40px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.searchbar,
.usuario{
    display: flex;
    align-items: center;
}

.usuario{
    justify-content:flex-end;
    font-size: 1.2rem;
    font-weight: bold;
    gap: 10px;
}

input{
    width: 40vw;
    min-width: 400px;
    height: 1.5rem;
    padding: 10px;
    font-weight: 700;
    border-radius: 20px;
    background-color: lightblue;
    color: darkcyan;
    border: 0px;
}

input:focus{
    outline: dashed darkcyan;
}

.greeting,
.texto,
.actions {
    display: flex;
}

.texto{
    flex-direction: column;
    justify-content: center;
}

.nombre.grande{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 6px 0 6px 0;
}

.actions{
 justify-content: flex-end;
 align-items: center;
 gap: 30px;
}

.actions>button{
    background-color: darkcyan;
    font-weight: bold;
    color: white;
    height: 2.5rem;
    width: 8vw;
    min-width: 6rem;    
    border-width: 0;
    border-radius: 50px;
}

.actions>button:hover{
    background-color: darkslategray;
}

.card,
#alerta,
li,
.avatar,
.nombre,
button{
    cursor:pointer;
}

.actions>button:active{
    color:darkcyan;
    background-color: cyan;
}

.contenido{
    position: relative;
    z-index: 1;
    grid-area: contenido;
    padding: 20px 30px;
    background-color: lightcyan;
    margin-top: -20px;
    box-shadow: 0 10px 10px rgba(11, 113, 137, 0.3);
    display: grid;
    grid-template-columns: 3fr 300px;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    grid-template-areas: 
    "proyectos anuncios"
}

.anunciosTrending{
    grid-area: anuncios;
}

.proyectos{
    grid-area: proyectos;
}

.anuncios,
.trending,
.proyectos{
    padding: 20px 30px;

}

.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    row-gap: 10px;
    border-radius:10px;
    box-shadow: 3px 3px 3px rgba(11, 113, 137, 0.3);
}

.projectosDashboard >.card{
    border-left: 10px solid pink;
}

.projectosDashboard >.card:hover{
    border-left: 10px outset palevioletred;
}

.anuncio,
.anuncio > h3 {
    font-size: 0.9rem;
}

.anuncio > h3, p {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3rem;
    line-height: 1rem;
}

.anuncio{
    width: 200px;
}

.uTrending{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "imagen titulo"
    "imagen nombreUsuario";
}

.uTrending > p{
    font-size: 0.9rem;
    padding-left: 15px;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 1rem;
    line-height: 1rem;
}

.projectosDashboard > .card > p{
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 6rem;
    line-height: 1rem;
}

.usuarioTitulo{
    font-weight: 900;
}

.uTrending > .avatar{
    grid-area: imagen;
    align-self: center;
}

.uTrending > .usuarioTitulo{
    grid-area: titulo;
    align-self: end;
}

.uTrending > .texto{
    grid-area: nombreUsuario;
    align-self: start;
}

.projectosDashboard{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 20px;
    align-items: center;
}

.acciones{
    align-self: flex-end;
}